<ion-header>
    <ion-toolbar>
      <ion-title>Gaelle Fortune</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-app>
    <ion-content class="ion-padding">
      <app-example></app-example>
    </ion-content>
  </ion-app>
  
  <ion-app>
    <ion-content class="ion-padding">
      <app-example></app-example>
    </ion-content>
  </ion-app>
  
  
  <ion-content>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large"><br> ID number: 1054632 <br></ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-content>
  <ion-content>
    <ion-fab vertical="bottom" 
    horizontal="center" 
    slot="fixed">

      <ion-list>
        <ion-item>
          <ion-label><br> Milk <br> </ion-label>
        </ion-item>
        <ion-item>
          <ion-label> <br> Eggs <br> </ion-label>
        </ion-item>
        <ion-item>
          <ion-label><br>Bread <br> </ion-label>
        </ion-item>
        <ion-item>
          <ion-label><br>Pancake <br></ion-label>
        </ion-item>
        <ion-item>
          <ion-label><br>Bacon,<br> </ion-label>
        </ion-item>
        </ion-list>
        <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
    </ion-item>
    </ion-list>